<% include ./include/dash_header %>
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h2 style="color:#4B49AC; margin:25px 0 10px 0;"><i class="mdi mdi-bullhorn"></i>&nbsp;공지사항</h2>
              <p class="card-description" style="margin: 0 0 30px 20px;">
                Ground 중요 내용을 확인 해보세요.
              </p>
              <div class="table-responsive">
                <table class="table table-hover text-center">
                  <thead>
                    <th class="col-md-1 font-weight-bold">공지사항</th>
                    <th class="col-md-4">제목</th>
                    <th class="col-md-1">작성자</th>
                    <th class="col-md-1">날짜</th>
                  </thead>
                  <tbody>
                    <tr>
                        <td class="font-weight-bold">[ 공지사항 ]</td>
                        <td>Ground 공지사항 입니다.</td>
                        <td>운영자</td>
                        <td>2021.09.11</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">[ 공지사항 ]</td>
                        <td>Ground 공지사항 입니다.</td>
                        <td>운영자</td>
                        <td>2021.09.11</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">[ 공지사항 ]</td>
                        <td>Ground 공지사항 입니다.</td>
                        <td>운영자</td>
                        <td>2021.09.11</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">[ 공지사항 ]</td>
                        <td>Ground 공지사항 입니다.</td>
                        <td>운영자</td>
                        <td>2021.09.11</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">[ 공지사항 ]</td>
                        <td>Ground 공지사항 입니다.</td>
                        <td>운영자</td>
                        <td>2021.09.11</td>
                    </tr>
                  </tbody>
                </table>
                
                <nav aria-label="Page navigation" style="margin: 35px 0 20px 0;">
                    <ul class="pagination justify-content-center">
                      <li class="page-item"><a class="page-link" href="#">이전</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">다음</a></li>
                    </ul>
                </nav>
                <button type="button" class="btn btn-primary btn-icon-text" style="float:right;">
                    <i class="mdi mdi-plus"></i>
                    등록하기
                </button>           
             </div>
            </div>
          </div>
        </div>
        
<% include ./include/dash_footer %>