<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ground</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet"> 
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

</head>
<body>
    <% include ./include/header2 %>

    <section id="contact" class="about" style="padding-bottom: 10px; margin-top: 120px;">
        <div class="container" data-aos="fade-up">
          <div>
            <p class="fs-2 fw-bold">Group Detail</p>
          </div>
        </div>
    </section>
    
    <div class="container">
        <div class="row" style="margin : 100px 0 140px 0;">
            <div class="card text-white bg-secondary  mb-3 me-2 col" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">회의 생성 및 참여</h5>
                  <p class="card-text">회의를 생성하거나 참여할 수 있습니다. </p>
                </div>
                <div class="card-footer bg-transparent border-white">
                    <input type="button" class="btn btn-dark" value="생성하기">
                    <input type="button" class="btn btn-dark" value="참여하기">
                </div>
            </div>
            <div class="card text-white bg-secondary  mb-3 me-2 col" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">그룹 탈퇴</h5>
                  <p class="card-text">탈퇴를 원하신다면 언제든지 탈퇴가 가능합니다.</p>
                </div>
                <div class="card-footer bg-transparent border-white">
                    <input type="button" class="btn btn-dark" value="탈퇴하기">
                </div>
            </div>
            <div class="card text-white bg-secondary  mb-3 me-2 col" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">공지사항</h5>
                  <p class="card-text">앙기모</p>
                </div>
                <div class="card-footer bg-transparent border-white">
                    <input type="button" class="btn btn-dark" value="탈퇴하기">
                </div>
            </div>
            <div class="card text-white bg-secondary  mb-3 me-2 col" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">문의사항</h5>
                  <p class="card-text">취취취</p>
                </div>
                <div class="card-footer bg-transparent border-white">
                    <input type="button" class="btn btn-dark" value="탈퇴하기">
                </div>
            </div>
        </div>
    </div>
    
    <!-- Vendor JS Files -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
    <script src="/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/venobox/venobox.min.js"></script>
    <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/js/main.js"></script>
    
    <% include include/footer2%>
</html>