<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ground</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../manual_assets/deassets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../manual_assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../manual_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../manual_assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../manual_assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../manual_assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../manual_assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="../manual_assets/css/style.css" rel="stylesheet">


</head>

<body>

  <% include include/header2 %>

<body>

  <main id="main">

    <section class="features" style="margin-top: 150px; margin-bottom: 150px;">
        <div class="container">
  
          <div class="section-title" style="margin-bottom: 30px;">
            <h2>Ground 사용 방법</h2>
          </div>
  
          <div class="row aos-init aos-animate" data-aos="fade-up">
            <div class="col-md-5">
              <img src="/manual_assets/img/features-1.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4" style="font-size: 16px;">
              <P style="font-size: 32px; font-weight: bold;">STEP 1</P>
              <ul>
                <li><i class="icofont-rounded-right"></i> Ground 회원 인 경우 ID / PW 입력하여 로그인 해주세요. </li>
                <li><i class="icofont-rounded-right"></i> Ground 비회원인 경우 Ground 회원 가입을 통해서 회원 등록을 해주세요. </li>
                <li><i class="icofont-rounded-right"></i> 로그인이 된 상태에서 맨 위 상단 시작하기 버튼을 눌러주세요. </li>
              </ul>
            </div>
          </div>
  
          <div class="row aos-init aos-animate" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
              <img src="/manual_assets/img/features-2.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <P style="font-size: 32px; font-weight: bold;">STEP 2</P>
              <ul>
                <li><i class="icofont-rounded-right"></i>메인 화면을 통해 안전 관리 현황을 확인 할 수 있습니다.</li>
                <li><i class="icofont-rounded-right"></i>메인 화면에는 월별 현장 사고 관리 현황, 공사 작업자 현황, 작업별 사고 현황,<br>&nbsp;&nbsp;&nbsp;&nbsp; 작업 현황도 등을 확인할 수 있습니다.</li>
                <li><i class="icofont-rounded-right"></i>왼쪽 사이드 바 메뉴를 통해 좀 더 세부적인 관리를 할 수 있습니다.</li>
              </ul>
            </div>
          </div>
  
          <div class="row aos-init aos-animate" data-aos="fade-up">
            <div class="col-md-5">
              <img src="/manual_assets/img/features-3.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5">
              <P style="font-size: 32px; font-weight: bold;">STEP 3</P>
              <ul>
                <li><i class="icofont-rounded-right"></i>왼쪽 사이드 바 메뉴를 통해 세부적인 관리가 가능합니다.</li>
                <li><i class="icofont-rounded-right"></i>공지사항 및 공사 현장, 공사 작업, 작업자 관리 메뉴가 있습니다.</li>
                <li><i class="icofont-rounded-right"></i>공사 현장 메뉴를 통해 진척도를 파악 할 수 있고 공사 작업 메뉴를 통해 어떤 작업을 <br>&nbsp;&nbsp;&nbsp;&nbsp;
                  하고있는지 확인 할 수 있습니다.</li>
              </ul>
            </div>
          </div>
  
          <div class="row aos-init aos-animate" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
              <img src="/manual_assets/img/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
            <P style="font-size: 32px; font-weight: bold;">STEP 4</P>
              <p class="fst-italic">
                Ground 안전 확인 프로그램의 다양한 기능
              </p>
              <ul>
                <li><i class="bi bi-check"></i><span style="font-weight: bold; font-size: 17px;">[ 작업자인 경우 ]</span><br> <i class="icofont-rounded-right"></i>작업자의 경우 어플을 이용하여 공사현장에 출입 할 수 있습니다.<br><br>
                <li><i class="bi bi-check"></i><span style="font-weight: bold; font-size: 17px;">[ 관리자인 경우 ]</span><br> <i class="icofont-rounded-right"></i>관리자의 경우 어플을 통해 작업자의 활동 현황을 확인 할 수 있습니다.</li>
              </ul>
            </div>
          </div>
  
        </div>
      </section>

   

  </main><!-- End #main -->
</body>

   <!-- Vendor JS Files -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/js/main.js"></script>
  
  <% include include/footer2%>

</html>