<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ground</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../ndetail_assets/deassets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../ndetail_assetsts/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../ndetail_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../ndetail_assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../ndetail_assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../ndetail_assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../ndetail_assets/vendor/aos/aos.css" rel="stylesheet">

  <link href="assets/css/style.css" rel="stylesheet">
  <link href="../ndetail_assets/css/style.css" rel="stylesheet">


</head>

<body>

  <% include include/header2 %>

<body>

  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog" style="margin-bottom: 150px; margin-top: 120px;">
      <div class="container">

        <div class="row">

          <div class="col-lg-13 entries">

            <article class="entry entry-single">

                    <div class="entry-img">
                        <img src="assets/img/blog-1.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="blog-single.html">Ground Company 회사가 드디어 대기업으로 성장하였습니다!</a>
                    </h2>

                    <div class="entry-footer clearfix"></div>

                    <div class="entry-meta" style="margin-top: 15px;">
                        <ul>
                        <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-single.html">송준하</a></li>
                        <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">2020.04.10</time></a></li>
                        <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="blog-single.html">12</a></li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            초콜렛을 민트와 섞어 먹는 형태는 초콜릿이 카카오의 형태로 처음 유럽에 들어온 16세기부터 생겼다. 다만 이 때는 카카오를 약으로 썼기에 너무 써서 먹기 불편한 카카오를 조금이라도 편하게 먹기 위해 민트를 섞었다.# 참고 사이트(영문)
                            이후 설탕이 섞인 초콜렛이 등장한 이후로도 유럽에선 초콜렛과 민트를 같이 먹기를 즐겼다. 18세기 무렵부터 시중의 카페에선 초콜렛과 민트를 섞은 음료를 팔았다.참고 사이트. 아이스크림 역시 마찬가지로 이미 1945년 배스킨라빈스가 처음 가게를 열었을 때부터 메뉴에 민트초코 아이스크림이 존재했다. # 참고 사이트(영문) 그외에도 20세기 초반에는 북미를 중심으로 민트와 초콜렛을 섞은 디저트류가 많은 곳에서 팔렸다.
                            다만 2020년 기준으로 민트초코의 역사는 대부분 1973년부터 시작됐다고 설명한다. 이는 일반 대중은 물론이고 언론도 마찬가지. 참고 기사. 이는 1973년 영국에서 열린 앤 공주의 결혼에 사용할 디저트 콘테스트에서 사우스 데본(South Devon) 대학교에 재학 중이던 대학생 마릴린 리케츠(Marilyn Ricketts)가 민트 로얄(Mint royale)이라는 이름의 민트초코 아이스크림으로 금상을 수상했음을 기준으로 삼은 설명이다
                            왜 이런 인식이 생겨났는지 정확히는 모른다. 추측건대 아마 20세기 후반에서 21세기로 넘어가는 시점에서 민트초코가 유행한 데에 이 '민트 로얄'이 큰 몫을 차지했기 때문인 듯하다. 이전까지는 먹던 사람만 먹던 민트초코가 영국 왕실의 큰 행사를 위해 특별히 가려 뽑은 음식이라는 이야기가 배경에 붙으면서 전세계적으로 크게 인기를 끌었기에 민트초코의 역사를 '민트 로얄'로 잡는 원인이 되지 않았을까.
                            민트초코가 특정한 기원을 논하기엔 역사가 깊은 편이고, 더불어 대부분 국가에서 음식 조리법의 저작권을 인정하지 않기에 직접 음식을 만드는 사람들 사이에선 시초나 원조에 크게 집착하지 않는 경향[1]이 있었던 영향일 듯하다.                           
                            오늘날에는 대표적으로 배스킨라빈스의 민트 초콜릿칩, 앤디스의 '크림 데 민트' 및 '파르페 민트' 초콜릿, 동원그룹이 덴마크우유 브랜드로 판매하는 '민트초코우유' 등이 있다. 칵테일로는 그래스호퍼가 있다. 또한 스타벅스와 엔제리너스 커피에서는 한정적으로 민트 초콜릿 음료를 판매한 적이 있다. 최근에는 공차에서도 민트초코 밀크티, 민트쿠키 스무디를 판매한다.
                        </p>

                        <h3>민트의 색과 역사</h3>
                        <p>
                            맛에 대해 표현하자면 시원하고 향긋한 민트 맛과 함께 초콜릿의 달콤한 맛이 부드럽게 난다고 할 수 있겠다. 처음에는 진한 초콜릿의 달콤한 맛이 들어오고, 이후에는 박하사탕 같은 화한 향기가 입안에 감돈다.[2] 사실 그게 민트초코의 탄생 목적이자 존재 가치이긴 하다. 민트도 초코도 아닌 제3의 무언가로 받아들이면 속 편하다. 그냥 초코향이 나는 박하맛이라고 생각하자.
                            가게에 따라 미묘하게 맛이 갈린다. 민트맛이 진하기도 하고 초코맛이 진하기도 하고 그냥 둘 다 연하고 달달한 맛밖에 없는 경우도 있다. 특히 민트 쪽이 너무 연할 경우 초콜릿의 단맛만 느껴지는거나 마찬가지가 되어서 민트초코 특유의 화하고 달달한 맛을 동시에 느끼려는 사람들은 실망할 수도 있다.
                            제대로 된 민트초코를 느껴기 위해 박하사탕 혹은 박하풀과 카카오닙스를 함께 먹는 경우도 가끔 존재한다. 하지만, 민트와 초코는 모두 역류성 식도염을 일으키는 위험인자 중 하나다. 이는 두 가지 물질 모두 식도 아래의 조임근을 이완시키는 작용을 가지고 있기 때문이다. 그래서 어지간하면 이런 극단적인 시도는 하지 말자.
                            색감의 경우 파스텔톤의 밝은 민트색 사이에 초콜릿 칩의 갈색이 점처럼 보인다. 민트 부분의 비중이 많을수록 푸릇푸릇해지고 초콜릿 부분의 비중이 많을수록 검거나 어두운 갈색이 되어간다.[3]
                        </p>
                        <img src="assets/img/blog-inside-post.jpg" class="img-fluid" alt="">

                    </div>

                    <div class="entry-footer clearfix">
                        <div class="float-left">
                        <i class="icofont-folder"></i>
                        <ul class="cats">
                            <li><a href="#">Ground</a></li>
                        </ul>

                        <i class="icofont-tags"></i>
                        <ul class="tags">
                            <li><a href="#">Creative</a></li>
                            <li><a href="#">Tips</a></li>
                            <li><a href="#">Marketing</a></li>
                        </ul>
                        </div>

                    </div>
                </article><!-- End blog entry -->
            </div>
        </div>
        <div style="text-align: right;">
            <button type="button" class="btn btn-outline-primary m-1" id="btnSave">글 수정</button>
            <button type="button" class="btn btn-outline-danger m-1" id="btnCancel">글 삭제</button>
            <button type="button" class="btn btn-outline-dark m-1" id="btnList">목록</button>
        </div>
      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
</body>

   <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  

  <% include include/footer2%>

</html>