<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ground</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/company_assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header2" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">Ground</a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="drop-down"><a href="/company">Ground</a>
            <ul>
              <li><a href="/company#about">회사 소개</a></li>
              <li><a href="/company#services">프로그램 소개</a></li>
              <li><a href="/company#team">개발자 소개</a></li>
              <li><a href="/company#contact">오시는 길</a></li>
            </ul>
          </li>
          <li><a href="/notice/1">공지 사항</a></li>
          <li class="drop-down"><a href="/faq">고객 센터</a>
            <ul>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/question/1">문의 하기</a></li>
            </ul>
          </li>
          <li><a href="/manual">사용 방법</a></li>
        </ul>
      </nav><!-- .nav-menu -->
      
      <a id="joinmenu" style="color: white;"></a>
      <a href="/group" class="get-started-btn scrollto">시작하기</a>
      <a id="loginmenu" class="get-started-btn2 scrollto" style="color: white;" onclick="logout()"></a>
    
  </div>


  <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-app.js"></script>
  <!-- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-auth.js"></script>
  <script>
  // firebase 중요 설정 키값
  const firebaseConfig = {
    apiKey: "AIzaSyD8-ubMdZ2UaWRklxYrFoN1WXr1LIjNbgI",
    authDomain: "ground-315511.firebaseapp.com",
  };
  // firebase 초기화
  firebase.initializeApp(firebaseConfig);
  firebase.auth().onAuthStateChanged(function(user) {
    if (user) {
      document.getElementById("loginmenu").innerHTML = "로그아웃";
      document.getElementById("joinmenu").innerHTML = "반가워요! " + user.displayName + " 님";
    } else {
      var gmail = document.getElementById("loginmenu");
      gmail.addEventListener('click', e => {
      var provider = new firebase.auth.GoogleAuthProvider();

      firebase.auth().signInWithPopup(provider).then(function(result) {
      var token = result.credential.accessToken;

      var user = result.user;

      console.log("Token : " + token + " user : " + user);
      console.log("구글 로그인 완료!!!");
      location.href = '/'
      }).catch(function(err) {
      console.log(err);
      });
      firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION).then(() => {
        console.log('session success')
        return firebase.auth().signInWithEmailAndPassword(email, password);
      })
      .catch((error) => {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
      });
      })

      document.getElementById("joinmenu").className='d-none';
      document.getElementById("loginmenu").innerHTML = "로그인";
    }
  });

  function logout () {
    firebase.auth().signOut();
  }
  </script>
  </header><!-- End Header -->