<% include ../include/dash_header %>
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h2 style="color:#4B49AC; margin:25px 0 10px 0;"><i class="mdi mdi-account-multiple-plus"></i>&nbsp;작업자 관리</h2>
              <p class="card-description" style="margin: 0 0 30px 20px;">
                Ground의 중요 인력을 확인해보세요!
              </p>
              <div class="table-responsive pt-3">
                <table class="table table-bordered text-center">
                  <thead>
                    <tr>
                      <th class="col-md-1">
                        번호
                      </th>
                      <th class="col-md-3">
                        성함
                      </th>
                      <th class="col-md-1">
                        고용 형태
                      </th>
                      <th class="col-md-1">
                        고용 날짜
                      </th>
                      <th class="col-md-1">
                        담당자
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        1
                      </td>
                      <td>
                        홍길동
                      </td>
                      <td>
                        일용직
                      </td>
                      <td>
                        2021.09.11
                      </td>
                      <td>
                        송준하
                      </td>
                    </tr>
                    <tr>
                        <td>
                          2
                        </td>
                        <td>
                          홍길동
                        </td>
                        <td>
                          일용직
                        </td>
                        <td>
                          2021.09.11
                        </td>
                        <td>
                          송준하
                        </td>
                      </tr>
                      <tr>
                        <td>
                          3
                        </td>
                        <td>
                          홍길동
                        </td>
                        <td>
                          일용직
                        </td>
                        <td>
                          2021.09.11
                        </td>
                        <td>
                          송준하
                        </td>
                      </tr>
                      <tr>
                        <td>
                          4
                        </td>
                        <td>
                          홍길동
                        </td>
                        <td>
                          일용직
                        </td>
                        <td>
                          2021.09.11
                        </td>
                        <td>
                          송준하
                        </td>
                      </tr>
                      <tr>
                        <td>
                          5
                        </td>
                        <td>
                          홍길동
                        </td>
                        <td>
                          일용직
                        </td>
                        <td>
                          2021.09.11
                        </td>
                        <td>
                          송준하
                        </td>
                      </tr>
                      <tr>
                        <td>
                          6
                        </td>
                        <td>
                          홍길동
                        </td>
                        <td>
                          일용직
                        </td>
                        <td>
                          2021.09.11
                        </td>
                        <td>
                          송준하
                        </td>
                      </tr>
                      <tr>
                        <td>
                          7
                        </td>
                        <td>
                          홍길동
                        </td>
                        <td>
                          일용직
                        </td>
                        <td>
                          2021.09.11
                        </td>
                        <td>
                          송준하
                        </td>
                      </tr>
                  </tbody>
                </table>
                <nav aria-label="Page navigation" style="margin: 35px 0 20px 0;">
                    <ul class="pagination justify-content-center">
                      <li class="page-item"><a class="page-link" href="#">이전</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">다음</a></li>
                    </ul>
                </nav>
                <button type="button" class="btn btn-primary btn-icon-text" style="float:right;">
                    <i class="mdi mdi-plus"></i>
                    등록하기
                </button>
              </div>
            </div>
          </div>
        </div>
        
<% include ../include/dash_footer %>