<% include ../include/dash_header %>
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h2 style="color:#4B49AC; margin:25px 0 10px 0;"><i class="mdi mdi-bullhorn"></i>&nbsp;공지사항</h2>
              <p class="card-description" style="margin: 0 0 30px 20px;">
                Ground 공지사항을 확인해 주세요.
              </p>
              <form class="forms-sample" style="margin: 50px 0 0 0;" action="/dash/noticeDelete" method="POST">
                <hr class="my-3">
                <h2 style="margin-left: 60px; font-weight: bold;"><%=db_data[0].antitle %></h2>
                <hr class="my-3">
                <p class="card-description" style = "margin: 0.1rem 0 0 0; float: right;">
                  <%=db_data[0].andate %>
                  &emsp;<i class="mdi mdi-account"></i><%=db_data[0].anwriter %>
                </p>
  
                <blockquote class="blockquote" style="margin : 80px 0 0 0; height: 500px;">
                  <p class="mb-0"><%-db_data[0].ancontent %></p>
                </blockquote>
              </form>
                <div style="float: right; margin: 10px 0 5px 0">
                  <button type="submit" class="btn btn-inverse-success btn-fw" style="float: right; margin: 0 0 0 10px;" onclick="location.href='/dash/notice/1';">
                    <i class="mdi mdi-check"></i>                                                    
                      &nbsp; 확인
                  </button>
                  <button type="submit" class="btn btn-inverse-info btn-fw" style="float: right; margin: 0 0 0 15px;" onclick="location.href='';">
                      <i class="mdi mdi-flattr"></i>                                                    
                        &nbsp; 수정
                  </button>
                  <button type="submit" class="btn btn-inverse-danger btn-fw" style="float: right; margin: 0 0 0 15px;" onclick="location.href='';">
                      <i class="mdi mdi-close"></i>                                                    
                        &nbsp; 삭제
                  </button>
                  </div>
            </div>
          </div>
        </div>

<% include ../include/dash_footer %>