<% include ../include/dash_header %>
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h2 style="color:#4B49AC; margin:25px 0 10px 0;"><i class="mdi mdi-houzz"></i>&nbsp;공사 작업 현황</h2>
              <p class="card-description" style="margin: 0 0 30px 20px;">
                Ground의 공사 작업 현황을 확인하세요.
              </p>
              <div class="col-md-12 grid-margin ">
                <div class="card" style="box-shadow: 7px 11px 22px 3px rgba(163, 174, 184, 0.3);" heigh="100px">
                <div class="card-body">
                    <p style="font-weight: bold; font-size: 18px; margin: 10px 0 20px 0;"><i class="mdi mdi-check" style="color: #4B49AC"></i>&nbsp;공사 작업 현황</p>
                    <div class="progress progress-md mx-4">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
                </div>
            </div>
              <div class="row" style="margin: 50px 0 0 0;">
                <div class="col-md-4 grid-margin ">
                    <div class="card" style="box-shadow: 7px 11px 22px 3px rgba(163, 174, 184, 0.5);">
                    <div class="card-body">
                        <p style="font-weight: bold; font-size: 18px; margin: 10px 0 20px 0;"><i class="mdi mdi-check" style="color: #4B49AC"></i>&nbsp;관리자</p>
                        <address style="font-size: 16px; color: gray; margin: 0 0 0 20px;">
                            <p class="font-weight-bold" style="font-size: 17px;">
                                홍길동
                            </p>
                        </address>
                    </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin ">
                    <div class="card" style="box-shadow: 7px 11px 22px 3px rgba(163, 174, 184, 0.5);">
                    <div class="card-body">
                        <p style="font-weight: bold; font-size: 18px; margin: 10px 0 20px 0;"><i class="mdi mdi-check" style="color: #4B49AC"></i>&nbsp;직급</p>
                        <address style="font-size: 35px; color: gray; margin: 0 0 0 20px;">
                            <p class="font-weight-bold" style="font-size: 16px;">
                                총괄자
                            </p>
                        </address>
                    </div>
                    </div>
                </div>
                <div class="col-md-4 grid-margin ">
                    <div class="card" style="box-shadow: 7px 11px 22px 3px rgba(163, 174, 184, 0.5);">
                    <div class="card-body">
                        <p style="font-weight: bold; font-size: 18px; margin: 10px 0 20px 0;"><i class="mdi mdi-check" style="color: #4B49AC"></i>&nbsp;작업인원</p>
                        <address style="font-size: 35px; color: gray; margin: 0 0 0 20px;">
                            <p class="font-weight-bold" style="font-size: 16px;">
                                30명
                            </p>
                        </address>
                    </div>
                    </div>
                </div>
              </div>
                <div class="col-md-12 grid-margin ">
                    <div class="card" style="box-shadow: 7px 14px 22px 3px rgba(163, 174, 184, 0.5);">
                    <div class="card-body">
                        <p style="font-weight: bold; font-size: 18px; margin: 10px 0 20px 0;"><i class="mdi mdi-check" style="color: #4B49AC"></i>&nbsp;공사 장소</p>
                        
                    </div>
                    </div>
                </div>
                <div class="col-md-12 grid-margin ">
                    <div class="card" style="box-shadow: 7px 14px 22px 3px rgba(163, 174, 184, 0.5);">
                    <div class="card-body">
                        <p style="font-weight: bold; font-size: 18px; margin: 10px 0 20px 0;"><i class="mdi mdi-check" style="color: #4B49AC"></i>&nbsp;메모</p>
                        <address style="font-size: 40px; color: gray; margin: 0 0 20px 20px;">
                            <p class="font-weight-bold">
                                기둥에 금가 있음. 보수 공사가 필요함.
                            </p>
                        </address>
                    </div>
                    </div>
                </div>
            </div>
          </div>
        </div>

        
<% include ../include/dash_footer %>